k8s_version: "1.29.4"
istio_version: "1.20.3"
tsb_version: "1.9.0"
tsb_repo:
  username: ${tsb_repo_username}
  apikey: ${tsb_repo_apikey}
scenario: tsb-dev-training
#
registry: "my-cluster-registry:5000"
admin_pwd: Tetrate123
org: tetrate
