k8s_version: "1.28.5"
istio_version: "1.19.5"
tsb_version: "1.8.0"
tsb_repo:
  username: ${tsb_repo_username}
  apikey: ${tsb_repo_apikey}
scenario: tsb-training
#
registry: "my-cluster-registry:5000"
admin_pwd: Tetrate123
org: tetrate
